{% extends 'user_posts/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="content-section">
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">LogIn Today</legend>
                    {{ form|crispy }}
                    <!--making crispy tags -->
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account? <a href="#" class="ml-2">Sign Up Now</a>
                </small>
                <small class="txt-muted ml-3">
                    <a href="#">Forgot Password?</a>
                </small>
            </div>
    
        </div>
    </div>

{% endblock content %}